Source: fusionforge-plugin-sympa
Section: devel
Priority: optional
Maintainer: Christian Bac <christianJeanBac@gmail.com>
Build-Depends-Indep: devscripts
Build-Depends: debhelper (>= 7), perl, gettext
Standards-Version: 3.8.4
Homepage: http://fusionforge.org/
Vcs-Bzr: http://scm.fusionforge.org/bzr/fusionforge/svn-trunk-ro/

Package: fusionforge-plugin-sympa
Architecture: all
Depends: gforge-common, gforge-db, gforge-web-apache2, gforge-mta, sympa (>= 6.0.1), ${misc:Depends}
Provides: gforge-lists
Description: collaborative development tool - Sympa mailing-lists plugin
 .
 This plugin contains the Sympa subsystem of FusionForge. It allows each
 FusionForge project to have its own Sympa mailing list management, and 
 gives some control over it to the project's administrator.

